<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.honeypot.mapper.HoneypotMapper">

    <resultMap id="BaseResultMap" type="com.neu.honeypot.entity.Honeypot">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
    </resultMap>

    <select id="selectByIp" resultType="com.neu.honeypot.entity.Honeypot">
        SELECT id, ip FROM allhoneypot_recog WHERE ip LIKE CONCAT('%',#{ip},'%')
    </select>

</mapper>